<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                 <li><a href="/follow">Follow Someone</a></li>
                <li><a href="/manageRequests">Manage Follow Requests</a></li>
                <li><a href="/createFriendGroup">Create A Friend Group</a></li>
                <li><a href="/groups">Your Friend Groups</a></li>
                <li><a href="/searchPoster">Search By Poster</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>